*{
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
}

::-webkit-scrollbar{
  width:11px;
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);

}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(184, 184, 184);
}



nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 30px;
  line-height: 70px;
  min-height: 70px;
}

nav h1,label{
  margin-inline: 20px;
}

#check {
  display:none;
}

.drop {
  display: none;
  background-color: black;
  width: 100%;
  min-height: calc(100vh - 70px);
  text-align: center;
  align-items:center;
  font-size: 40px;
  line-height: 60px;
}

#check:checked ~ header .drop{
  display: grid;
}
#check:checked ~ header nav h1{
  color: transparent;
}
#check:checked ~ .content {
  display: none;
}
#check:checked ~ header label {
  margin-right: 31px;
}

.drop ul{
  margin-bottom: 70px;
}

.drop a{
  color: rgb(187, 187, 187);
}
.drop a:hover {
 color: white;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content div{
  min-height: 100px;
}

 img{
  width: 100%;
  margin-bottom: -4px;
}

  
@media (max-width:700px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}